hoge
nav.navbar
  .logo
    img(src="/img/cps-lab-fit.svg")
  ul.menu
    li.menu__item
      a(href="#")
        | メンバー
    li.menu__item
      a(href="#")
        | プロダクト
    li.menu__item
      a(href="#")
        | システム
    li.menu__item
      a(href="#")
        | 設備
