html, body
  font-family "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro0"



.navbar
  height: 4em
  padding: 5px 30px


.logo
  float: left
  height: 100%
  img
    height: 100%

.menu
  display flex
  float: right
  &__item
    margin-left: 10px
